.info-line1 {
  display: flex;
  top: 160px;
  height: 60px;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  color: #f67da1;
}
@media screen and (max-width: 375px) {
  .info-line1 {
    font-size: 10px;
  }
}

.glass {
  size: 26px;
  margin-right: 17px;
}

/* Slideshow container */

.slideshow-container {
  position: relative;
  margin: auto;
  height: 700px;
  overflow-y: hidden;
  width: 100vw;
  background-color: #fee1e6;
  background: linear-gradient(270deg, rgba(254, 223, 233, 0) 0%, #fedfe9 100%);
}

@media screen and (max-width: 1024px) {
  .slideshow-container {
    height: 350px;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 335px;
  width: 30px;
  height: 17.44px;
  color: #212121;
  transition: 0.6s ease;
}

@media screen and (max-width: 1024px) {
  .prev,
  .next {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .prev,
  .next {
    top: 150px;
  }
}

.prev {
  left: 20.56px;
}

/* Position the "next button" to the right */
.next {
  right: 20.56px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 7.5px;
  background-color: #bbb;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 10px;
}

.active,
.dot:hover {
  background-color: #212121;
}

@media screen and (max-width: 1024px) {
  .dot {
    display: none;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.carousel-images {
  position: absolute;
  width: 1200px;
  right: 0px;
}

@media screen and (max-width: 1024px) {
  .carousel-images {
    display: none;
  }
}

.details-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .details-container {
    background-image: url(./assets/carousel.jpg);
  }
}

#details-title {
  position: absolute;
  font-size: 130px;
  font-weight: bolder;
  line-height: 130px;
  width: 441px;
  height: 130px;
  top: 253px;
  left: 177px;
}

@media screen and (max-width: 1024px) {
  #details-title {
    font-size: 60px;
    position: unset;
  }
}

#details-text {
  position: absolute;
  width: 580px;
  font-size: 24px;
  color: #ba8b88;
  height: 74px;
  left: 185px;
  top: 400px;
  line-height: 34px;
}

@media screen and (max-width: 1024px) {
  #details-text {
    position: unset;
    width: 60vw;
    font-size: 20px;
  }
}

@media screen and (max-width: 490px) {
  #details-text {
    font-size: 16px;
    line-height: 20px;
  }
}

#details-btn {
  position: absolute;
  background-color: #212121;
  color: #ffffff;
  width: 210px;
  height: 50px;
  font-size: 14px;
  left: 185px;
  top: 506px;
}

@media screen and (max-width: 1024px) {
  #details-btn {
    position: unset;
    margin-top: 50px;
    background-color: transparent;
    color: #212121;
    border: #212121 1px solid;
  }
}

@media screen and (max-width: 490px) {
  #details-btn {
    font-size: 16px;
    line-height: 20px;
  }
}

#details-btn-image {
  margin-left: 17px;
  background-color: #212121;
}

@media screen and (max-width: 1024px) {
  #details-btn-image {
    display: none;
  }
}
