.discount-section {
  display: flex;
  justify-content: center;
}

.discount-container {
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  margin-top: 146px;
  width: 100vw;
}

@media screen and (min-width: 1920px) {
  .discount-container {
    width: 1780px;
    margin-right: 70px;
    margin-left: 70px;
    height: 974px;
  }
}

@media screen and (max-width: 1024px) {
  .discount-container {
    margin: 0;
    margin-top: 80px;
    width: 100vw;
  }
}

@media screen and (max-width: 678px) {
  .discount-container {
    margin: 0;
    margin-top: 60px;
    width: 100vw;
  }
}

.discount-header {
  position: absolute;
  font-size: 28px;
  line-height: 26px;
  width: 251px;
}

.discount-products-container {
  margin-top: 104px;
  display: grid;
}

@media screen and (min-width: 1920px) {
  .discount-products-container {
    display: grid;
    top: 104px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    column-gap: 60px;
  }
}

@media screen and (max-width: 1920px) {
  .discount-products-container {
    row-gap: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .discount-products-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1f 1fr;
    row-gap: 60px;
    column-gap: 6px;
    top: 52px;
  }
}

@media screen and (max-width: 678px) {
  .discount-products-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1f 1fr 1f 1fr;
    row-gap: 60px;
    padding-right: 3%;
    padding-left: 3%;
    align-self: center;
  }
}

.discounted-product {
  width: 50vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (min-width: 1920px) {
  .discounted-product {
    width: 400px;
  }
}

@media screen and (max-width: 375px) {
  .discounted-product {
    width: 100vw;
  }
}

.discounted-product-header {
  align-self: center;
  width: 340px;
  height: 52px;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  color: #212121;
}

.rectangle {
  width: 50px;
  height: 50px;
  align-self: flex-end;
  position: absolute;
}

.black-heart-btn {
  width: 19.19px;
  height: 16px;
  align-self: flex-end;
  position: absolute;
  top: 7px;
  margin-right: 5.81px;
}

.discounted-product-description {
  align-self: center;
  color: #a1a1a1;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  width: 340px;
  height: 74px;
  margin-top: 13px;
}

.star-container {
  display: flex;
  align-self: center;
  margin-top: 19px;
  align-items: center;
}

.star {
  width: 20px;
  height: 19.13px;
  margin-left: 5px;
  margin-right: 5px;
}

.ratings {
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  margin-left: 13px;
  width: 20px;
  height: 28px;
  text-align: center;
}

.price-container {
  width: 157px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 25.87px;
}

.crossed-price {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: line-through;
  color: #a1a1a1;
}

.discounted-price {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
}

.toCart-btn {
  align-self: center;
  width: 160px;
  height: 50px;
  background-color: #212121;
  margin-top: 30px;
  border: none;
  font-size: 14px;
  font-weight: 500px;
  line-height: 17.5px;
  color: #ffffff;
}

.to-discounts-btn {
  width: 300px;
  height: 50px;
  color: #212121;
  border: 1px solid #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color: #ffffff;
  margin: auto;
  position: absolute;
}

@media screen and (min-width: 1920px) {
  .to-discounts-btn {
    top: 926px;
  }
}

@media screen and (max-width: 1919px) {
  .to-discounts-btn {
    bottom: 0px;
  }
}

#to-discounts-btn-image {
  width: 9.35px;
  height: 17px;
  margin-left: 19px;
}
