footer {
  background-color: #212121;
  width: 1920px;
  height: 460px;
  padding-top: 41px;
  margin-top: 100px;
}

@media screen and (max-width: 1024px) {
  footer {
    height: fit-content;
    padding-bottom: 2rem;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 1920px) {
  footer {
    width: 100vw;
    box-sizing: border-box;
  }
}

.black-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerinfo1 {
  width: 1042;
  height: 18px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  .footerinfo1 {
    display: grid;
    height: fit-content;
    row-gap: 10px;
  }
  .separator-footer {
    display: none;
  }
}

.separator-footer {
  margin-left: 20px;
  margin-right: 20px;
  height: 17px;
  color: #5c5c5c;
}

.footerinfo2 {
  height: 18px;
  margin-top: 42px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  font-style: normal;
  color: #a6a6a6;
}

@media screen and (max-width: 1024px) {
  .footerinfo2 {
    display: grid;
    height: fit-content;
    row-gap: 10px;
  }
}

#footer-email {
  color: #ffffff;
}

.footerinfo3 {
  height: 21px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 225px;
  align-items: center;
  column-gap: 30px;
  margin-top: 50px;
}

.footerinfo3-icons {
  width: 21px;
}

.footerinfo4 {
  color: #a6a6a6;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  margin-top: 43px;
}

.footerinfo5 {
  height: 30px;
  margin-top: 28px;
}

.hu-btn,
.en-btn {
  width: 25px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
  border: none;
  align-self: center;
  background: none;
  font-style: normal;
}

.hu-btn {
  text-align: left;
  color: #ffffff;
}

.en-btn {
  text-align: right;
  color: #a6a6a6;
}

.language-separator-footer {
  color: #5c5c5c;
  height: 17px;
  width: 1px;
}

#currency {
  background: none;
  border-radius: 0;
  border: 1px solid #5c5c5c;
  width: 60px;
  height: 30px;
  color: #ffffff;
  font-size: 12px;
  margin-left: 25px;
  text-align: center;
  padding-right: 7.14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(./assets/selector.svg);
  background-repeat: no-repeat;
  background-position-x: 43.86px;
  background-position-y: 13.06px;
  line-height: 15px;
}

.footerinfo6 {
  width: 1170px;
  color: #767676;
  line-height: 22px;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  margin-top: 20px;
}

@media screen and (max-width: 1170px) {
  .footerinfo6 {
    width: 90vw;
  }
}

.logos {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .logos {
    width: 100vw;
    height: fit-content;
    /* background-color: tomato; */
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.logo-container {
  width: 920px;
  height: 45.92px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .logo-container {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
