.pink-box {
  width: 1780px;
  height: 500px;
  background-image: url(./assets/composition-with-air-humidifier-bath-accessories-blurred-background.jpg);
  background-color: rgba(246, 125, 161, 0.9);
  background-blend-mode: multiply;
  margin: auto;
  background-position: center center;
  background-size: cover;
  margin-top: 130px;
  position: relative;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1920px) {
  .pink-box {
    width: 1780px;
  }
}

@media screen and (max-width: 1919px) {
  .pink-box {
    width: 92vw;
  }
}

@media screen and (max-width: 768px) {
  .pink-box {
    width: 92vw;
    height: 300px;
    margin-top: 60px;
  }
}

.pink-box-header {
  position: absolute;
  margin-top: 168px;
  font-size: 48px;
  line-height: 56px;
  color: #212121;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .pink-box-header {
    margin-top: 65px;
    font-size: 22px;
  }
}

.pink-box-description {
  position: absolute;
  margin-top: 240px;
  font-size: 16px;
  line-height: 22px;
  color: #212121;
  font-weight: 500;
  color: #763648;
}

@media screen and (max-width: 768px) {
  .pink-box-description {
    margin-top: 120px;
    width: 300px;
    text-align: center;
  }
}

.view {
  width: 210px;
  height: 50px;
  position: absolute;
  top: 306px;
  border: none;
  background-color: #212121;
  color: #ffffff;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .view {
    top: 180px;
    background-color: transparent;
    border: 1px solid #ffffff;
  }
}

#view-btn {
  margin-left: 17px;
}
